<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<filter>
  <filter-name>CharacterEncoding</filter-name>
  <filter-class>com.oracle.filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <display-name>MyCloudShop</display-name>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.oracle.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoLoginSrevlet</servlet-name>
    <servlet-class>com.oracle.controller.DoLoginSrevlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SavePwdServlet</servlet-name>
    <servlet-class>com.oracle.controller.SavePwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReturnServlet</servlet-name>
    <servlet-class>com.oracle.controller.ReturnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KeySearchServlet</servlet-name>
    <servlet-class>com.oracle.controller.KeySearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowDetailServlet</servlet-name>
    <servlet-class>com.oracle.controller.ShowDetailServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/saveMember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoLoginSrevlet</servlet-name>
    <url-pattern>/dologin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SavePwdServlet</servlet-name>
    <url-pattern>/savepwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReturnServlet</servlet-name>
    <url-pattern>/loginForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KeySearchServlet</servlet-name>
    <url-pattern>/keySearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDetailServlet</servlet-name>
    <url-pattern>/showDetail</url-pattern>
  </servlet-mapping>
  <welcome-file-list>     
    <welcome-file>main.jsp</welcome-file>    
  </welcome-file-list>
</web-app>